.modal {
    position: fixed;
    top: 50%;
    left: 50%;
    max-width: 100%;

    background-color: $white-color;
    border-radius: 4px;
    box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2),
        0px 1px 1px rgba(0, 0, 0, 0.14),
        0px 1px 3px rgba(0, 0, 0, 0.12);

    transform: translate(-50%, -50%) scale(1);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

    @media screen and (min-width: 465px) and (max-width: 1199px) {
    width: 450px;
    height: 609px;
    
    }

    @media screen and (min-width: 1200px) {
        width: 528px;
        height: 581px;
    }
}

.modal__close {
    position: absolute;
    right: 8px;
    top: 8px;
    width: 30px;
    height: 30px;
    padding: 0;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    cursor: pointer;
    background-color: transparent;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
        animation: icon-close 350ms cubic-bezier(0.4, 0, 0.2, 1);
        & .modal__icon {
            fill: $accent-color;
        }
    }
}

.modal__icon {
    position: absolute;
    left: 0;
    top: 0;
    transform: translate(5px, 5px);

}

.modal__title {
    font-weight: 700;
    font-size: 20px;
    line-height: 1.5;
    text-align: center;
    margin-bottom: 12px;

    @media screen and (min-width: 1200px) {
    line-height: 1.1;
    }

}

.modal__form {
    padding: 40px;
}