.feature-list {
    display: block;

    @media screen and (min-width: 768px) and (max-width: 1199px) {
     margin-right: calc(30px * -1);
     flex-wrap: wrap;
    }

    @media  screen and (min-width: 768px) {
    display: flex;
    }
}

.feature-list__functions {
    @media screen and (min-width: 768px) and (max-width: 1199px) {
    flex-basis: calc(100% / 2 - 30px);
     &:nth-child(2n + 1) {
      margin-right: 30px;
    }
     &:nth-child(-n + 2) {
      margin-bottom: 30px;
    }
    }
    
    @media screen and (min-width: 1200px) {
    flex-basis: calc(100% /4);
    }
}

.feature-list__icon {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 100%;
    height: 120px;

    margin-bottom: 30px;

    background-color: $section-my-team-background;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    
    @media screen and (min-width: 1200px) {
     width: 270px;
    
    }
}

.feature-list__functions {

    @media screen and (min-width: 1200px) {
    margin-right: $gap;

    &:last-child {
        margin-right: 0;
    }
   }
}


.feature-list__title {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;
    margin: 0;
    margin-bottom: 10px;

    @media screen and (max-width: 768px) {
        text-align: center;  
    }
}

.feature-list__description {
    line-height: 1.7;

    color: $secondary-text-color;
}