.section--command {
    background-color: $section-my-team-background;
}

.command {
    @media screen and (min-width: 768px) {
    display: flex;
    margin-right: calc(30px * -1);
    }

    @media screen and (min-width: 768px) and (max-width: 1199px) {
    flex-wrap: wrap;
    }
}

.command__list {
    @media screen and (max-width: 767px) {
        margin-bottom: 30px;
    }
    @media screen and (min-width: 768px) and (max-width: 1199px) {
        
        flex-basis: calc(100% / 2 - 30px);
        
        &:nth-child(2n + 1) {
        margin-right: 30px;
         }
        &:nth-child(-n + 2) {
        margin-bottom: 30px;
         }
    }

    @media screen and (min-width: 1200px) {
    margin-right: $gap;

    &:last-child {
        margin-right: 0;
    }
  }
}

.command__card {
    background-color: $white-color;
    border-radius: 0px 0px 4px 4px;
    box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2),
        0px 1px 1px rgba(0, 0, 0, 0.14),
        0px 1px 3px rgba(0, 0, 0, 0.12);
}

.command__card--content {
    padding-top: 30px;
    padding-bottom: 24px;
    text-align: center;

    @media screen and (min-width: 1200px) {
    padding-bottom: 30px;
    }
}

.command__card--title {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.18;

    margin: 0;
    margin-bottom: 10px;
}

.command__card--description {
    margin-bottom: 16px;

    font-size: 16px;
    line-height: 1.18;

    color: $secondary-text-color;
}

