.header-contact--position {
    @media screen and (max-width: 767px) {
    position: absolute;
    bottom: 48px;
    width: calc(100% - 80px);
    }

    // @media screen and (min-width: 768px) and (max-width: 825px) {
    //     margin-left: 45px;
    // }

    // @media screen and (min-width: 826px) and (max-width: 1199px) {
    // margin-left: 97px;
    // }
}




.header-contact {
    @media screen and (min-width: 768px) and (max-width: 1199px) {
        padding: 19px 0;
    }

    @media screen and (min-width: 1200px) {
    display: flex;
    margin-left: auto;
    }
}


    


.header-contact__link--active {
    margin-bottom: 64px;
    font-size: 26px;
    // color: $accent-color;
 
    @media screen and (min-width: 380px) and (max-width: 767px) {
        font-size: 34px;
        
        
    }

    @media screen and (min-width: 768px) {
        margin-bottom: 0;
   
    }
}

    .header-contact__link {
    display: block;
    align-items: center;
    align-content: center;
    
    font-weight: 500;
    letter-spacing: 0.02em;
    line-height: 1.14;
    
    color: $secondary-text-color;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &.header-contact__link--active {
            @media screen and (max-width: 768px) {
                color: $accent-color;
                // margin-top: 32px;
            }
    
        }
    

     &:hover,
     &:focus {
        color: $accent-color;
            }
    
    @media screen and (max-width: 767px) {
    font-size: 24px;
    
            }

    @media screen and (min-width: 768px) {
        font-size: 12px;

     }
    
    @media screen and (min-width: 1200px) {
    padding-top: 32px;
    padding-bottom: 32px;
     }
}
    

.header-contact__item {
    &:first-child {
    //     @media screen and (max-width: 767px) {
    //     transform: translateY(100px);
    //     }
    // }

        @media screen and (min-width: 768px) and (max-width: 1199px) {
    margin-bottom: 10px;
    }

    @media screen and (min-width: 1200px) {
    margin-right: 30px;
    }

}
}


.header-contact__icon--phone {
   
    @media screen and (max-width: 767px) {
    display: none;
   }
    
    @media screen and (min-width: 768px) {
    width: 10px;
   }
}

.header-contact__icon {
    @media screen and (max-width: 767px) {
    display: none;
    }
    
    @media screen and (min-width: 768px) {
    display: inline-block;
    vertical-align: middle;
    width: 16px;
    height: 16px;
    margin-right: 10px;

    fill: currentColor;
   }
}