
.logo-header {

    font-family: Raleway, sans-serif;
    font-weight: 700;
    font-size: 24px;
    line-height: 0.3;

    color: $color-logo;
    
    @media screen and (max-width: 767px) {
        padding-top: 16px;
        padding-bottom: 16px;
    }

    @media screen and (min-width: 768px) and (max-width: 1199px) {
        margin-right: 87px;
    }

    
    @media screen and (min-width: 1200px) {
        
        margin-right: 93px;
        padding-top: 24px;
        padding-bottom: 25px;

        font-size: 26px;
        line-height: 1.2;
     }


}

.logo--accent {
    color: $accent-color;
}

// .logo-fotter {
//     display: inline-block;
//     margin-bottom: 20px;

//     font-family: Raleway, sans-serif;
//     font-weight: 700;
//     font-size: 26px;
//     line-height: 1.2;

//     color: $white-color;
    
// }