.projects-list {

    display: block;
    
    @media screen and (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
    margin-right: calc(#{$gap} * -1);
    margin-bottom: calc(#{$gap} * -1);
    }

}

.projects-list__item {
    margin-bottom: 30px;
    &:last-child {
        margin-bottom: 0;
    }
    
    @media screen and (min-width: 768px) {
    flex-basis: calc(100% / 2 - #{$gap});

    margin-right: $gap;
    margin-bottom: $gap;

    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover {
        box-shadow: 1px 4px 6px rgba(0, 0, 0, 0.16),
                    0px 4px 4px rgba(0, 0, 0, 0.06),
                    0px 1px 1px rgba(0, 0, 0, 0.12);}
    }

    @media screen and (min-width: 1200px) {
    flex-basis: calc(100% / 3 - #{$gap});
    }
}

.projects-list__article {
    box-sizing: border-box;

}

.product-thumb {
    position: relative;
    overflow: hidden;
}

.product-thumb__article {
    padding: 20px 24px;

    border: 1px solid #EEEEEE;
    border-top: none;
    @media screen and (max-width: 320px) {
    padding: 20px;
    }
}

.product-thumb__title {

    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;

    margin-bottom: 5px;

    color: $primary-text-color;
    @media screen and (max-width: 320px) {
    font-size: 14px;
    }

    @media screen and (min-width: 768px) and (max-width: 1199px) {
        font-size: 16px;
    }

}

.product-thumb__text {
    font-size: 16px;
    line-height: 1.8;

    color: $secondary-text-color;

    @media screen and (max-width: 320px) {
    font-size: 14px;
    }
}

.product-thumb__description {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;

    padding: 45px 24px;

    font-size: 18px;
    line-height: 1.5;
    text-align: left;

    color: $white-color;
    background-color: rgba(33, 150, 243, 0.9);

    opacity: 1;
    transform: translateY(294px);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

    @media screen and (max-width: 320px) {
    font-size: 14px;
    padding: 30px 25px;
    }

    @media screen and (min-width: 768px) and (max-width: 1199px) {
        font-size: 16px;
        padding: 40px 25px;
    }


}

.projects-list__link:hover .product-thumb__description,
.projects-list__link:focus .product-thumb__description {
    opacity: 1;
    transform: translateY(0);
}