body {
    font-family: Roboto, sans-serif;
    letter-spacing: 0.03em;
    font-size: 14px;

    background-color: $background-color;
    color: $primary-text-color;
}

// main {
//     @media screen and (max-width: 767px) {
//     padding-top: 60px;
//     }
// }

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
}

h1 {
    margin: 0;
    margin-bottom: 30px;
}

h2 {
    margin: 0;
    margin-bottom: 30px;
    @media screen and (min-width: 1200px) {
        margin-bottom: 50px;
    }
}

p {
    margin-top: 0;
    margin-bottom: 0;
}

img {
    display: block;
}

textarea {
    resize: none;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
}

textarea::placeholder {
    font-size: 12px;
    line-height: 1.16;
    letter-spacing: 0.01em;
    color: rgba(117, 117, 117, 0.5);
}

.visually-hidden {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
}

.container {
    margin-left: auto;
    margin-right: auto;

    padding-left: 15px;
    padding-right: 15px;

    @media screen and (min-width: 1200px) {
        width: 1200px;
        
    }
}

.section {
    padding-top: 60px;
    padding-bottom: 60px;

    @media screen and (min-width: 1200px) {
    padding-top: 94px;
    padding-bottom: 94px;
        }
}

.section--work {
    @media screen and (max-width: 1199px) {
        display: none;
    }
    
    @media screen and (min-width: 1200px){
    padding-top: 0;
    padding-bottom: 94px;
    }
}

.section--portfolio {
    @media screen and (max-width: 767px) {
        margin-top: 40px;
    }
}

.section-title {
    font-weight: 700;
    text-align: center;
    font-size: 28px;
    line-height: 1.14;

    @media screen and (min-width: 1200px) {
        font-size: 36px;
        line-height: 1.16;
    }
}

.title {
    margin: 0;
    margin-bottom: 10px;
}
